* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    image-rendering: pixelated;

    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    font-family: serif;
    background-size: 50%;
    background-blend-mode: lighten;
    background-color: #111;

    color: #111;
    font-size: 4vh;
}

#container {
    position: relative;
    height: 90%; /* 可変幅 */
    /* max-width: 90%; */
    aspect-ratio: 16 / 9; /* 固定比率 */

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* box-shadow: inset 0px 0px 8vh 2vh rgba(255, 255, 255, 0.3); */

    border: #111 solid 0.5vh;

    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;

    & canvas {
        position: absolute;
        height: 100%;
    }
}

i-element,
i-text,
i-command {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i-text {
    /* -webkit-text-stroke-width: 0.15vh;
    -webkit-text-stroke-color: #111; */
}

a {
    color: inherit;

    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: inherit;
}

img {
    object-fit: cover;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* 揺れるアニメーション */
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20%,
    60% {
        transform: translateX(-3px);
    }
    40%,
    80% {
        transform: translateX(3px);
    }
}

/* 揺れを適用するクラス */
.shake {
    animation: shake 0.3s ease infinite;
}
/* 
@font-face {
    font-family: "mutsuki";
    src: url("assets/Mutsuki.ttf") format("truetype");
} */

#error {
    display: none;
}

@media screen and (orientation: portrait) {
    #container {
        display: none;
    }
    #error {
        display: flex;
    }
}

.title {
    animation: rolling 12s infinite;
    animation-delay: 2s;
}

@keyframes rolling {
    0% {
        transform: rotateY(0);
    }

    40% {
        transform: rotateY(360deg);
    }

    50% {
        transform: rotateY(360deg);
    }

    90% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}
/* 
i-command i-text:hover:nth-child(even) {
    animation: yurayura 3s infinite ease-in-out;
}

i-command i-text:hover:nth-child(odd) {
    animation: yurayura 3s infinite ease-in-out;
    animation-direction: reverse;
}

@keyframes yurayura {
    0% {
        transform: translateX(0) rotate(0deg) scale(1);
    }
    25% {
        transform: translateX(-1%) rotate(-1deg) scale(1.01);
    }
    50% {
        transform: translateX(0) rotate(0deg) scale(1);
    }
    75% {
        transform: translateX(1%) rotate(1deg) scale(1.01);
    }
    100% {
        transform: translateX(0) rotate(0deg) scale(1);
    }
} */
